<div class="text-center">
  <input type="text" [(ngModel)]="searchTerm" placeholder="Search for restaurant...."  class ="search-bar">
</div>

<div class="row">
  <div class="card-container">
    <div class="product" *ngFor="let product of products | filter:searchTerm">
      <h1 class="styled-text">{{ product.name }}</h1>
      <h2 class="styled-text">Price: {{ product.price }} Rupees</h2>
      <a [routerLink]="'/payment'">
        <img [src]="product.imageurl" alt="{{ product.name }} Image" class="square-image">
      </a>
      <div>
        <button (click)="onSave()">Proceed</button>
      </div>
    </div>
  </div>
</div>
